[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/srinuindia
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/srinuindia
	label-Verified = -1..+1 group user/srinuindia
	push = group user/srinuindia
	read = group user/srinuindia
	rebase = group user/srinuindia
	removeReviewer = group user/srinuindia
	submit = group user/srinuindia
[access "refs/heads/*"]
	create = group user/srinuindia
	push = +force group user/srinuindia
	pushMerge = group user/srinuindia
	read = group user/srinuindia
[access "refs/tags/*"]
	push = group user/srinuindia
	push = +force group user/srinuindia
